@mixin cmsButtonClass() {
  .cms-button {
    background-color: $dark-grey;
    border-radius: 0;
    transition: background-color .5s;
    border: 0;
    width: 100%;

    &:hover {
      background-color: $very-dark-grey;
    }
  }
}

@mixin formAlert($class: 'form-alert') {
  .#{$class} {
    height: 20px;
    margin-bottom: 10px;
    padding-left: 12px;
    display: block;
    color: red;
    font-size: 12px;
  }
}
