.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;

  @include cmsButtonClass();
  @include formAlert('form-alert');
  @include notice('cms-notice');

  .reset-password-card {
    width: 360px;
    display: flex;
    flex-direction: column;

    padding: 50px;
    background-color: $light-grey;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  }

  .reset-password--form {

    > input {
      width: 100%;
      border-radius: 0;
      margin-bottom: 20px;
    }
  }
}
