$color: #262828;
$black: #000000;
$primary-color: #828282;
$second-color: #f9a11b;
$second-colo-hover: #7a3e46;

$border-blue: #2684FF;
$border-grey: #ced4da;

$primary-blue: #007bff;
$primary-hover-blue: #0069d9;

$light-grey: #F7F7F7;
$grey: #848484;
$medium-grey: #ccc;
$dark-grey: #545454;
$very-dark-grey: #252424;
